extends layout.pug
block content
	+makeHeaderAndNav(menu, "Домашние задания")
	- var homeworks = [{subject:"OPI", whenGiven:"2000-00-00", whenPass:"2000-00-01", textDescription:"sdasd", fileName:"test.ppt", source:"#"}];
	article
		header
			h1 Домашние задания
		p Подробная информация о домашнем задании:
		ul
			each hm in homeworks
				li
					span #{hm.subject} #{hm.whenGiven} #{hm.whenPass} 
					if hm.textDescription
						span #{hm.textDescription} 
					if hm.fileName
						a(href=hm.source) #{hm.fileName}
	form(name="newHomework" method="post")
		p Добавить новое домашние задание
		p Предмет: 
			input(type="text" name="subject" form="newHomework")
		p Дата выдачи: 
			input(type="date" placeholder="YYYY-MM-DD" name="whenGiven" form="newHomework")
		p Дата здачи: 
			input(type="date" placeholder="YYYY-MM-DD" name="whenPass" form="newHomework")
		p Текст задания(описание): 
			textarea(form="newHomework" placeholder="Что же задали?")
		p Файл с заданием(фотка и т.д.)
			input(type="file" name="fileName" form="newHomework")
		input(type="submit" value="Добавить задание" form="newHomeWork")
