extends layout.pug
block content
	+makeHeaderAndNav(menu, "Материалы")
	- var data = [{name:"Test", text:"Lorem ipsum", files:[{source:"#", name:"Test"}], date:"2000-00-00"}];

	article
		header
			.container
				.row
					h1 Info
					p Здесь размещена разная полезная информация:
						#collapse-group.panel-group
									.panel
										.panel-heading
											a(data-toggle='collapse', data-parent='#collapse-group', href='#el1') List of files
										#el1.collapse
											.panel-body
												table.table
													thead
														tr
															th Name
															th Info
															th Files
															th Date
													tbody
														each info in data
															tr
																td 
																	span #{info.name}
																td
																	span #{info.text}
																each file in info.files
																	td
																		a(href=file.source) #{file.name}
																td
																	span #{info.date}
									
				form(role='form' name="newInfo" method="post").form-horizontal
					p Add new information:
						.form-group
							label(for='info').control-label.col-md-2 Info Name:
							.col-md-3
								input(type="info" class="form-control" form="newInfo" id='info' placeholder='Enter the info')
						.form-group
							label(for='info').control-label.col-md-2 Text info:
							.col-md-5
								textarea(type="info" class="form-control" form="newInfo" id='info' placeholder='Enter the text info')
						.form-group
							label(for='info').control-label.col-md-2 Add File(s):
							.col-md-2
								input(type="file" name="fileDotName" form="newInfo")
						//TODO make for lots of files
						.col-md-
							button(type="submit" form="newInfo").btn.btn-success
								|Confirm	
