extends layout.pug
block content
	+makeHeaderAndNav(menu, "События")
	- var meeting = {place:"Secret Place", date:"2000-00-00", description:"Где собираемся, как добираемся?" }
	article
		header
			.container
				h1 Information about meetings
				if meeting/*Uncomment var meeting to see another version of page*/
					article
						header
							h2 Встреча в #{meeting.place} #{meeting.date}
						p #{meeting.description}
						p На встречу идут:
						#collapse-group.panel-group
									.panel
										.panel-heading
											a(data-toggle='collapse', data-parent='#collapse-group', href='#el1') List of files
										#el1.collapse
											.panel-body
												table.table
													thead
														tr
															th Name
															th Number
															th Coming
													tbody
														each person in people
															tr 
																td #{person.name}
																td #{person.number}
																if person.isComing
																		td Yes
																else
																		td No
													
						button(name="makePassed").btn.btn-info Отметить как прошедшую
				else if !meeting
				
					
					form(role='form' name="newInfo" method="post").form-horizontal
						p Add new meeting
						.form-group
							label(for='info').control-label.col-md-2 Place:
							.col-md-3
								input(type="place" class="form-control" form="newMeeting" id='place' placeholder='Enter the place')
						.form-group
							label(for='info').control-label.col-md-2 Date:
							.col-md-5
								textarea(type="info" class="form-control" form="newMeeting" id='date' placeholder='Enter the date')
						.form-group
							label(for='info').control-label.col-md-2 Где собираемся, как добираемся? :
							.col-md-2
								textarea(type="text" name="description" form="newInfo")
						//TODO make for lots of files
						.col-md
							button(type="submit" form="newMeeting").btn.btn-success
								|Confirm	